/*=== Change background color and font family ===*/
body {
  background: #ffffff;
}

/*=== Adjust overall form padding ===*/
#login {
  padding: 4% 0 0;
}

/*=== Change Width and Height of Logo Image + Add Custom Image File ===*/
.login h1 a {
  background-image: url("../img/login_logo.png");
  width: 180px;
  height: 170px;
  background-size: 180px;
  margin: 0 auto;
}

/*=== Add a few changes to the color and style of form itself ===*/
.login form {
  margin-top: 10px;
}

.login label {
  color: #454545;
  display: block;
  margin-bottom: 1em;
  font-weight: normal;
}

.login #backtoblog a, .login #nav a {
  color: #1C79AC;
}

.wp-core-ui .button-primary {
  background: #1C79AC;
  border: none;
}

.wp-core-ui .button-primary:hover {
  background: #1C79AC;
  opacity: .6;
}

button, input, select, textarea {
  font-weight: normal;
}
